	 ﻿body {
	     background-color:black;              
	 }
	 img
	 {
	     visibility:hidden;
	     position:absolute;
         display:none;
	 }
	 canvas
	 {   
        background-color:black;  
	 }
	 form
	 {
         display:none;
	     visibility:hidden;
	 }
.tts
{
    position:absolute;
}

